* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-shadow: 2px 2px 7px rgba(255,255,255,0.41);
}

body {
    background-image: linear-gradient(175deg,
            hsl(204deg 43% 33%) 0%,
            hsl(205deg 41% 31%) 11%,
            hsl(206deg 39% 30%) 22%,
            hsl(206deg 36% 28%) 33%,
            hsl(207deg 34% 26%) 44%,
            hsl(208deg 32% 25%) 56%,
            hsl(210deg 29% 23%) 67%,
            hsl(211deg 26% 21%) 78%,
            hsl(214deg 23% 19%) 89%,
            hsl(217deg 20% 18%) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

header {
    padding: 10px 0;
    position: relative;
    margin-bottom: 100px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-content h1 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    user-select: none;
    max-width: 100px;
}

#header-logo {
    margin: 0;
    user-select: none;
}


/* Game */
.game-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.player>h2 {
    user-select: none;
    font-size: 32px;
}

.game__result-player {
    border: 10px solid #fff;
    padding: 30px;
    border-radius: 50%;
}

.game__result-player>img {
    user-select: none;
    width: 84px;
    height: 84px;
    margin: 0;
    padding: 0;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.wating-animation {
    animation: waiting 1s infinite;
}

@keyframes waiting {
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(10px);
    }
    100%{
    }
}

.winner {
    -webkit-box-shadow: 0px 0px 35px 60px rgba(63, 122, 216, 0.33);
    -moz-box-shadow: 0px 0px 35px 60px rgba(63, 122, 216, 0.33);
    box-shadow: 0px 0px 35px 60px rgba(63, 122, 216, 0.33);
    background-color: #3f7ad874;
}
#game-result-message{
    margin: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
}

/* player panel */
.player-panel {
    width: 100%;
    padding: 0 300px;
}

.player-panel-items {
    display: flex;
    justify-content: space-around;
}

.player-panel-item {
    border: 10px solid #fff;
    padding: 30px;
    border-radius: 50%;
    transition: .3s ease;
    background-color: transparent;
}

.message {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
    user-select: none;
}

.player-panel-item:hover {
    background-color: #ffffff45;
    cursor: pointer;
    transform: scale(0.95);
    -webkit-box-shadow: 0px 0px 35px -2px rgba(255, 255, 255, 0.23);
    -moz-box-shadow: 0px 0px 35px -2px rgba(255, 255, 255, 0.23);
    box-shadow: 0px 0px 35px -2px rgba(255, 255, 255, 0.23);
}

.player-panel-item>img {
    width: 64px;
    height: 64px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    user-select: none;
}

.player-panel-item-red {
    border-color: #de3c3c;
}

.player-panel-item-blue {
    border-color: #3c65de;
}

.player-panel-item-green {
    border-color: #3cde75;
}

footer {
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 300;
}